<p id="notice"><%= notice %></p>

<h1><%= @player.full_name %> (<%= @player.teams.collect(&:name).to_sentence %>)</h1>
<h2><%= cricinfo_link(@player) %></h2>

<% if @player.innings.batting_innings.size > 0 %>
<h2><%= link_to(pluralize(@player.innings.batting_innings.size, 'Batting Inning'), batting_innings_player_path(@player)) %></h2>
<% end %>

<% if @player.innings.bowling_innings.size > 0 %>
<h2><%= link_to(pluralize(@player.innings.bowling_innings.size, 'Bowling Inning'), bowling_innings_player_path(@player)) %></h2>
<% end %>
