    <tr>
      <td data-inning-id="<%= bowling_inning.id %>"><%= link_to(bowling_inning.player.name, player_path(bowling_inning.player)) %></td>
      <td><%= bowling_inning.overs %></td>
      <td><%= bowling_inning.maidens %></td>
      <td><%= bowling_inning.runs %></td>
      <td><%= bowling_inning.wickets %></td>
    </tr>
