<table>
  <tr>
    <th>Number</th>
    <th>Type</th>
    <th>Match Dates</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Teams</th>
    <th>Ground</th>
    <th>Season</th>
    <th>Series</th>
    <th></th>
  </tr>
<% matches.each do |match| %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%= link_to(match.match_number, match) %></td>
    <td><%= match_type(match) %></td>
    <td><%= match.match_dates %></td>
    <td><%= match.start_date %></td>
    <td><%= match.end_date %></td>
    <td><%= render(:partial => 'matches/team_link', :object => match.team1) %> vs <%= render(:partial => 'matches/team_link', :object => match.team2) %></td>
    <td><%= match.ground_name %></td>
    <td><%= match.season %></td>
    <td><%= match.series %></td>
  </tr>
<% end %>
</table>
