<p id="notice"><%= notice %></p>

<h1>Match #<%= @match.match_number %></h1>

<table>
  <tbody>
    <tr>
      <td><strong>Teams:</strong></td>
      <td><%= render(:partial => 'matches/team_link', :object => @match.team1) %> vs <%= render(:partial => 'matches/team_link', :object => @match.team2) %></td>
    </tr>
    <tr>
      <td><strong>Dates:</strong></td>
      <td><%= @match.match_dates %></td>
    </tr>
    <tr>
      <td><strong>Ground:</strong></td>
      <td><%= link_to(@match.ground.name, ground_path(@match.ground)) %></td>
    </tr>
    <tr>
      <td><strong>Series:</strong></td>
      <td><%= @match.series %></td>
    </tr>
    <tr>
      <td><strong>Season:</strong></td>
      <td><%= @match.season %></td>
    </tr>
  </tbody>  
</table>

<dl class="tabs">
  <dd class="active"><a href="#innings1">Innings 1</a></dd>
  <dd><a href="#innings2">Innings 2</a></dd>
  <dd><a href="#innings3">Innings 3</a></dd>
  <dd><a href="#innings4">Innings 4</a></dd>
</dl>
<ul class="tabs-content">
  <li class="active" id="innings1Tab">
    <%= render :partial => 'inning', :locals => { :inning_number => 1 } %>
  </li>
  <li id="innings2Tab">
    <%= render :partial => 'inning', :locals => { :inning_number => 2 } %>
  </li>
  <li id="innings3Tab">
    <%= render :partial => 'inning', :locals => { :inning_number => 3 } %>
  </li>
  <li id="innings4Tab">
    <%= render :partial => 'inning', :locals => { :inning_number => 4 } %>
  </li>
</ul>
