<!DOCTYPE html>
<html>
<head>
  <title>Cricket Addict</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Entire Navbar Code -->
<ul class="nav-bar">
  <li class="has-flyout <%= active_page?('teams') %>"><a href="#">Teams</a>
    <ul class="flyout">
      <% Team.all.each do |team| %>
      <li class="<%= "active" if @team && team == @team %>"><%= link_to(team.name, team) %></li>
      <% end %>
    </ul>
  </li>
  <li class="<%= active_page?('players') %>"><%= link_to('Players', players_path) %></li>
  <li class="<%= active_page?('grounds') %>"><%= link_to('Grounds', grounds_path) %></li>
  <li class="<%= active_page?('matches') %>"><%= link_to('Matches', matches_path) %></li>
</ul>

<%= yield %>

<p>All content copyrighted by <%= link_to 'ESPN Cricinfo', 'http://www.espncricinfo.com' %>, all trademarks owned by their respective owners.</p>

</body>
</html>
