<!DOCTYPE html>
<html>
<head>
  <title>Cricket Addict</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
  <%= link_to('All Teams', teams_path()) %> |
  <%= link_to('All Players', players_path()) %> |
  <%= link_to('All Grounds', grounds_path()) %> |
  <%= link_to('All Matches', matches_path()) %>
</p>

<%= yield %>

<p>All content copyrighted by <%= link_to 'ESPN Cricinfo', 'http://www.espncricinfo.com' %>, all trademarks owned by their respective owners.</p>

</body>
</html>
